<div class="row">
    <h1 class="text-center">Admin dash board</h1>
</div>
<div class="row">
    <div class="d-grid gap-2 col-3 ms-auto">
        <a href="/admin/create" class="btn btn-primary ms-auto">Create a new product</a>
    </div>
</div>



<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">inStock</th>
      <th scope="col">description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{# each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.width}}/{{this.aspectRatio}}R{{this.diameter}}</td>
      <td>{{this.price}}</td>
      <td>{{this.inStock}}</td>
      <td>{{this.description}}</td>
      <td><a href="/admin/edit/{{this.id}}">Edit</a></td>
      <td><a href="/admin/delete/{{this.id}}">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>