<div class="container-fluid padding mt-4">
	<div class="row padding">
		<div class="col-lg-5">
			<img src="{{product.imagePath}}" alt="tire-size.png" class="img-fluid border border-secondary">
		</div>
        
        
        
        <div class="col-lg-7">
            <h1>Update product information</h1>
            <form action="/admin/edit/{{product.id}}" method="POST" class="mt-4">
                <label for="imagePathInput">Image Path</label>
                <input type="text" name="imagePath" id="imagePathInput" required class="form-control" value="{{product.imagePath}}">

                <label for="titleInput">Title</label>
                <input type="text" name="title" id="titleInput" required class="form-control" value="{{product.title}}">

                <label for="descriptionInput">Description</label>
                <input type="text" name="description" id="descriptionInput" required class="form-control" value="{{product.description}}">

                <label for="widthInput">Width</label>
                <input type="number" name="width" id="widthInput" required class="form-control"  value="{{product.width}}">

                <label for="aspectRatioInput">Aspect Ratio</label>
                <input type="number" name="aspectRatio" id="aspectRatioInput" required class="form-control" value="{{product.aspectRatio}}">

                <label for="diameterInput">Diameter</label>
                <input type="number" name="diameter" id="diameterInput" required class="form-control" value="{{product.diameter}}">

                <label for="priceInput">Price</label>
                <input type="number" name="price" id="priceInput" required class="form-control" value="{{product.price}}">

                <label for="inStockInput">In Stock</label>
                <input type="number" name="inStock" id="inStockInput" required class="form-control" value="{{product.inStock}}">

                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                <a href="/admin/dashboard" class="btn btn-secondary btn-lg mt-4">Cancel</a>
                <button type="submit" class="btn btn-primary btn-lg mt-4">Update</button>
            </form>
        </div>
    </div>
</div>