<div class="container-fluid padding mt-4">
	<div class="row padding">
		               
        {{#if selectedUser.avatarPath}}
        <div class="col-lg-3">
            <img src="{{selectedUser.avatarPath}}" alt="avatar" class="img-fluid border border-secondary">
        </div>
        {{else}}
        <div class="col-lg-3">
            <img src="https://i.imgur.com/cSjQzIr.png" alt="default-avatar.png" class="img-fluid border border-secondary">
        </div>
        {{/if}}


        <div class="col-lg-7">
            <h1>Edit user profile</h1>
            <form action="/user/edit/{{selectedUser.id}}" method="POST" class="mt-4">                
                <div class="row">
                    <div class="col-12">
                        <label for="emailInput">Email</label>
                        <input type="text" name="email" id="emailInput" required class="form-control" value="{{selectedUser.email}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="firstNameInput">First Name</label>
                        <input type="text" name="firstName" id="firstNameInput" required class="form-control" value="{{selectedUser.firstName}}">
                    </div>
                    <div class="col-6">
                        <label for="lastNameInput">Last Name</label>
                        <input type="text" name="lastName" id="lastNameInput" required class="form-control" value="{{selectedUser.lastName}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="addressInput">Shipping Address</label>
                        <input type="text" name="address" id="addressInput" required class="form-control" value="{{selectedUser.address}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="cityInput">City</label>
                        <input type="text" name="city" id="cityInput" required class="form-control" value="{{selectedUser.city}}">
                    </div>
                    <div class="col-4">
                        <label for="provinceInput">Province</label>
                        <input type="text" name="province" id="provinceInput" required class="form-control" value="{{selectedUser.province}}">
{{!-- 
                        <select name="province" id="provinceInput" class="form-select form-select" aria-label=".form-select" aria-placeholder="Province" >
                            <option value=''>Choose Province</option>
							<option value='Alberta'>Alberta</option>
							<option value='British Columbia'>British Columbia</option>
							<option value='Manitoba'>Manitoba</option>
							<option value='New Brunswick'>New Brunswick</option>
							<option value='Newfoundland and Labrador'>Newfoundland and Labrador</option>
							<option value='Nova Scotia'>Nova Scotia</option>
							<option value='Ontario'>Ontario</option>
							<option value='Prince Edward Island'>Prince Edward Island</option>
							<option value='Quebec'>Quebec</option>
                            <option value='Saskatchewan'>Saskatchewan</option>
                            <option value='Northwest Territories'>Northwest Territories</option>
                            <option value='Nunavut'>Nunavut</option>
                            <option value='Yukon'>Yukon</option>
                        </select> --}}
                    </div>
                    <div class="col-4">
                        <label for="postalCodeInput">Postal Code</label>
                        <input type="text" name="postalCode" id="postalCodeInput" required class="form-control" value="{{selectedUser.postalCode}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="avatarPathInput">Avatar Url</label>
                        <input type="text" name="avatarPath" id="avatarPathInput" required class="form-control" value="{{selectedUser.avatarPath}}">
                    </div>
                </div>         
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                
                <a href="/user/profile" class="btn btn-secondary btn-lg mt-4">Cancel</a>
                <button type="submit" class="btn btn-primary btn-lg mt-4">Update</button>
            </form>
        </div>
    </div>
</div>