<h1>User Profile</h1>
<section class="py-5">
    {{#if avatarPath}}
    <div class="col-lg-3">
		<img src="{{avatarPath}}" alt="avatar" class="img-fluid border border-secondary">
	</div>
    {{else}}
    <div class="col-lg-3">
        <img src="https://i.imgur.com/cSjQzIr.png" alt="default-avatar" class="img-fluid border border-secondary">
    </div>
    {{/if}}
    <h1 class="display-3">
        Welcome {{firstName}}! 
    </h1>
    <p class="lead">Please confirm the shipping address in your profile before ordering.</p>
    {{#if address}}
    <div class="col-lg-3">
        <h4>Shipping Address:</h4>
		<div> {{firstName}} {{lastName}}</div>
        <div> {{address}}</div>
        <div> {{city}}, {{province}} {{postalCode}}</div>
	</div>
    {{/if}}
    <a href="/" class="btn btn-success btn-lg">Go Back Home</a>
    <a href="/user/{{id}}" class="btn btn-success btn-lg">Edit Profile</a>
</section>

<br>
<br>
<br>


