{{!-- <h1>User Profile</h1> --}}
<section class="py-5">
    <div class="row">
        <div class="col-md-3">
            {{#if avatarPath}}
            <div class="col-lg-12">
                <img src="{{avatarPath}}" alt="avatar" class="img-fluid border border-secondary">
            </div>
            {{else}}
            <div class="col-lg-12">
                <img src="https://i.imgur.com/cSjQzIr.png" alt="default-avatar" class="img-fluid border border-secondary">
            </div>
            {{/if}}
        </div>
        <div class="col-md-9">
            <h2 class="display-3">
            Welcome {{firstName}}! 
            </h2>
            <div class="mt-5">
                <a href="/" class="btn btn-success btn-lg mx-4">Go Back Home</a>
                <a href="/user/{{id}}" class="btn btn-success btn-lg">Edit Profile</a>
            </div>                
        </div>        
    </div>
    <hr>


    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            {{#if orders}}
            <h2>My Orders</h2>
            {{# each orders}}
            <div class="card mt-2">
                <ul class="list-group list-group-flush">
                    {{# each this.items}}
                    <li class="list-group-item d-flex justify-content-center"><span class="me-auto">{{this.item.title}} | {{this.item.width}}/{{this.item.aspectRatio}}R{{this.item.diameter}} | {{this.qty}} Units</span><span class="badge rounded-pill bg-secondary ms-auto">${{this.price}}</span></li>
                    {{/each}}
                </ul>
                <div class="card-footer">
                    <strong>Total Price: ${{this.cart.totalPrice}}</strong>
                </div>
            </div>
            {{/each}}
            {{else}}
            <h2>No orders!</h2>
            {{/if}}
        </div>
    </div>


    
    
    
</section>

<br>
<br>
<br>


