{{# if products }}
    {{!-- <div class="row m-auto">
        <div class="col-sm-6 col-md-6 m-auto">
            <ol class="list-group list-group-numbered ">
                {{# each products}}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{this.item.title}}</div>
                            {{this.item.width}}/{{this.item.aspectRatio}}R{{this.item.diameter}}
                        </div>
                        <div class="col-3">
                            <span class="badge bg-primary rounded-pill">{{this.qty}}</span>
                        </div>
                        <div class="col-3">
                            <strong class="label label-success bg-success">${{this.price}}</strong>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div> --}}

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {{# each products}}
                <tr>
                    <td>{{this.item.title}}</td>
                    <td>{{this.item.width}}/{{this.item.aspectRatio}}R{{this.item.diameter}}</td>
                    <td>{{this.item.price}}</td>
                    <td>{{this.qty}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>






    <div class="row m-auto">
        <div class="col-sm-3 col-md-3 ms-auto">
            <strong>Total: {{totalPrice}}</strong>
        </div>
    </div>
    <hr>
    <div class="row m-auto">
        <div class="col-sm-3 col-md-3 ms-auto">
            <form action="/charge" method="POST"> 
                <script 
                src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="{{key}}" 
                data-amount="{{total}}" 
                data-currency="usd" 
                data-name="Stripe Payment" 
                data-description="Buy tires from Wholesale Tires" 
                data-locale="auto" > 
                </script> 

                <input type="hidden" value="{{total}}" name='total'>
                {{!-- hide default stripe btn --}}
                <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                </script>
                <button type="submit" class="btn btn-success btn-lg">Checkout</button>
            </form> 
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6">
        <h2>No Item in Cart</h2>
        </div>
    </div>
{{/if}}

